.my-border{
    border: 3px solid rgb(0, 79, 116);
  }
  
  .my-container {
    max-width: 1320px;
  }

  .my-header-background {
    background-color: rgba(58, 236, 22, 0.801);
}
  .my-background {
    background-color: rgba(0, 154, 192, 0.952);
}